DB_USER=admin
DB_HOST=localhost
DB_NAME=carrocerias_db
DB_PASSWORD=tu_password_aqui
DB_PORT=5432

SESSION_SECRET=cambia_esto_por_una_cadena_larga_y_aleatoria

MAIL_USER=carroceriassandoval1968@gmail.com
MAIL_PASS=tu_app_password_de_gmail

EMPLOYEE_REGISTER_CODE=SANDOVAL_ADMIN_2025

NODE_ENV=development
PORT=3000