<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajos Realizados | Carrocerias Sandoval</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <header class="header" id="header">
        <nav class="navegador">
            <a href="/Cliente/pagina-cliente" class="nav__logo">
                <span>Carrocerias Sandoval</span>
            </a>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="servicios" class="nav__link">Servicios</a></li>
                    <li class="nav__item"><a href="trabajos" class="nav__link">Trabajos</a></li>
                    <li class="nav__item"><a href="contactos" class="nav__link">Contacto</a></li>
                    <li class="nav__item"><a href="perfil" class="nav__link">Perfil</a></li>
                    <li class="nav__item"><a href="/" class="nav__link">Cerrar Sesión</a></li>
                </ul>

                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>
        </nav>
    </header>

    <main class="main trabajos-page">
        <section class="hero-section">
            <h1>Trabajos Realizados</h1>
            <p>Una muestra de algunos proyectos realizados en pintura, carrocería, interiores y restauración.</p>
        </section>

        <section class="galeria-trabajos">
                <a href="/Cliente/trabajos/aldo-trujillo" class= "trabajo-item grande">
                    <img src="/IMAGENES/Aldo Trujillo 1.jpeg" alt="Trabajo realizado 1">
                </a>
                <a href="/Cliente/trabajos/saul" class="trabajo-item">
                    <img src="/IMAGENES/Saul 1.jpeg" alt="Trabajo realizado 2">
                </a>
                <a href="/Cliente/trabajos/montoya" class="trabajo-item">
                    <img src="/IMAGENES/Montoya.jpeg" alt="Trabajo realizado 3">
                </a>
                <a href="/Cliente/trabajos/moy" class="trabajo-item">
                    <img src="/IMAGENES/Moy 1.jpeg" alt="Trabajo realizado 4">
                </a>
                <a href="/Cliente/trabajos/palomo" class="trabajo-item ancho">
                    <img src="/IMAGENES/Palomo 1.jpeg" alt="Trabajo realizado 5">
                </a>
                <a href="/Cliente/trabajos/outdoor" class="trabajo-item">
                    <img src="/IMAGENES/Outdoor.jpeg" alt="Trabajo realizado 6">
                </a>
        </section>
    </main>

    <footer class="pie_de_pagina">
        <div class="contenedor_pie1">
            <div class="box">
                <h2>NOSOTROS</h2>
                <p>Somos una empresa con el propósito de entregar un servicio de calidad y darnos a conocer a nivel nacional.</p>
                <p>A través de esta plataforma, buscamos mostrar nuestra trayectoria y los trabajos realizados.</p>
            </div>

            <div class="box">
                <h2>Contáctanos</h2>
                <div class="redes">
                    <a href="https://www.facebook.com/profile.php?id=61570873678977" class="nav_social-iconf">Facebook <i class="ri-facebook-box-line"></i></a>
                    <a href="https://www.instagram.com/carroceriassandoval/" class="nav_social-iconf">Instagram <i class="ri-instagram-box-line"></i></a>
                    <a href="https://www.tiktok.com/@carroceriassandoval?is_from_webapp=1&sender_device=pc" class="nav_social-iconf">Tik-Tok <i class="ri-tiktok-box-line"></i></a>
                </div>
            </div>
        </div>

        <div class="contenedor_pie2">
            <small>&copy; 2026 <b>Carrocerias Sandoval</b> - Todos los derechos reservados.</small>
        </div>
    </footer>

    <script src="/JS/index.js"></script>
</body>
</html>